# Raw data
data/raw/*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks
notebooks/.ipynb_checkpoints/

# VS Code / IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Local environments
.env/
venv/
